
.history {
  padding-left: 15px;
  font-size: 20px;
  color: rgb(236, 236, 236);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  border-left: 2px solid rgb(35, 66, 37); 

}


